@use "../abstracts" as *;

.btn {
  background-color: $primary;
  color: $text-white;
  padding: 2.3rem 1.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.3;
  border: 0;
  border-radius: $radius-normal;

  &:hover,
  &:focus {
    color: $text-black;
    background-color: $secondary;
  }
}
