@use "../abstracts" as *;

.contact-modal {
  position: fixed;
  background: hsla(0, 0%, 77%, 40%);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &[hidden] {
    display: none;
  }

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: all;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 4rem);
    background-color: $secondary;
    padding: 1.5rem 3.5rem 3.8rem;
    border-radius: $radius-normal;
    max-height: 100vh;
    overflow: auto;

    @include respond-to("medium") {
      width: calc(100% - 20rem);
      max-width: calc(1440px * 0.465);
    }

    @include respond-to("large") {
      width: 46.5vw;
    }

    & .btn {
      width: 100%;
      @include respond-to("smaller") {
        width: auto;
        padding-left: 5.1rem;
        padding-right: 5.1rem;
      }
      &:hover,
      &:focus {
        background-color: $primary-light;
        color: $text-white;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    flex-wrap: wrap;

    @include respond-to("max-width") {
      flex-wrap: nowrap;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.3;
    color: $text-black;
    margin-bottom: 1.9rem;
    flex-basis: 100%;
    order: 1;

    @include respond-to("smaller") {
      font-size: 3.6rem;
    }

    @include respond-to("small") {
      font-size: 4.5rem;
    }

    @include respond-to("max-width") {
      font-size: 6.4rem;
      flex-basis: auto;
      order: 0;
    }
  }

  &__close {
    display: block;
    border: none;
    padding: 1.5rem;
    margin: 0;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    transform: translateX(1.5rem);
    & img {
      min-width: 2.5rem;
      width: 2.5rem;

      @include respond-to("small") {
        min-width: 3rem;
        width: 3rem;
      }

      @include respond-to("max-width") {
        margin-left: 0;
        min-width: 4.2rem;
        width: 4.2rem;
      }
    }
  }

  &__label {
    font-size: 2.5rem;
    line-height: 1.3;
    color: $text-blackish;

    @include respond-to("small") {
      font-size: 3.6rem;
    }
  }

  &__input,
  &__message {
    padding: 1rem;
    border: 0;
    border-radius: $radius-normal;
    font-size: 2rem;
    width: 100%;
  }

  &__input {
    height: 6.8rem;
  }

  &__message {
    resize: none;
    height: 17rem;
    margin-bottom: 2.6rem;
  }
}
