@use "../abstracts" as *;

.lightbox-modal {
  position: fixed;
  background: $white;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 13.1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  @include respond-to("portrait") {
    padding: 0;
  }

  &--open {
    opacity: 1;
    pointer-events: all;
  }

  &__inner {
    display: grid;
    gap: 0 3.4rem;
    grid-template-columns: 4.2rem auto 4.2rem;
    grid-template-rows: 5vh 90vh 5vh;

    @include respond-to("portrait") {
      display: block;
      position: relative;
    }
  }

  &__img-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $grey;

    @include respond-to("portrait") {
      background-color: $white;
    }
  }

  &__img {
    object-fit: contain;
    height: 90vh;

    @include respond-to("portrait") {
      height: 100vh;
    }
  }

  & button {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    @include respond-to("portrait") {
      position: absolute;
      border-radius: $radius-normal;
    }

    & svg {
      display: block;

      @include respond-to("portrait") {
        filter: drop-shadow(0 0 1rem $black);

        & path {
          fill: $white;
        }
      }
    }
  }

  &__prev-btn-wrapper,
  &__next-btn-wrapper {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__prev-btn-wrapper {
    grid-column: 1 / 2;
  }

  &__next-btn-wrapper {
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
  }

  &__close-btn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: flex-start;

    @include respond-to("portrait") {
      top: 2rem;
      right: 2rem;

      & svg {
        width: 2.4rem;
      }
    }
  }

  &__next-btn {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include respond-to("portrait") {
      right: 2rem;
    }
  }

  &__next-btn,
  &__prev-btn {
    @include respond-to("portrait") {
      top: 50%;
      transform: translateY(-50%);

      & svg {
        width: 1.5rem;
      }
    }
  }

  &__prev-btn {
    @include respond-to("portrait") {
      left: 2rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: bold;
    color: $text-highlight-secondary;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @include respond-to("portrait") {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      padding: 1rem;
      background-color: $primary;
      color: $white;
      border-radius: $radius-normal;
      font-size: 1.5rem;
    }
  }
}
