@use "../abstracts" as *;

.photo-card {
  &__img {
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: $radius-normal;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__name,
  &__likes-count {
    font-size: 2.4rem;
    line-height: 1.3;
    color: $text-highlight-secondary;
  }

  &__likes {
    display: flex;
    align-items: center;
    gap: 0.637rem;
  }

  &__likes-icon {
    width: 1.9rem;
    height: 1.9rem;
    transition: filter 0.7s ease-in-out;

    &--liked {
      filter: saturate(500%);
    }
  }
}
