// Media queries breakpoints
$breakpoints: (
  "smaller": (
    min-width: 380px,
  ),
  "small": (
    min-width: 600px,
  ),
  "medium": (
    min-width: 650px,
  ),
  "large": (
    min-width: 1180px,
  ),
);
