// Base colors
$primary: hsl(0, 67%, 34%);
$secondary: hsl(11, 58%, 66%);
$grey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Text colors
$text-white: hsl(0, 0%, 100%);
$text-gray: hsl(0, 0%, 32%);
$text-black: hsl(0, 0%, 0%);
$text-highlight-primary: hsl(11, 63%, 53%);
$text-highlight-secondary: hsl(0, 67%, 34%);
