// Base colors
$primary: hsl(0, 67%, 34%);
$primary-light: hsl(0, 67%, 42%);
$secondary: hsl(11, 58%, 66%);
$grey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Text colors
$text-white: hsl(0, 0%, 100%);
$text-grey: hsl(0, 0%, 32%);
$text-grey-light: hsl(0, 0%, 46%);
$text-black: hsl(0, 0%, 0%);
$text-blackish: hsl(0, 3%, 19%);
$text-highlight-primary: hsl(11, 63%, 53%);
$text-highlight-secondary: hsl(0, 67%, 34%);

// focus
$focus-outline-color: hsl(180, 67%, 34%);
