@use "../abstracts/" as *;

.gallery-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

  @include respond-to("small") {
    padding: 0 10rem;
  }
}

.gallery {
  &__cards {
    display: grid;
    gap: 3rem 9.5rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
  }
}
